body{
    background-color: #999999;
    color: black;
}
div{
    background-color: RGB(89, 52, 27);
    color: white;
    width: 650px;
    height: 200px;
    margin: auto;
    text-align: center;
}   
.elso{
    font-family: 'Times New Roman', Times, serif;
    font-size: 180px;
    margin: 10px;
}
.masodik{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    margin: 10px;
}
.harmadik{
    font-size: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
.negyedik{
    font-size: 130px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ötödik{
    font-size: 93px;
    margin: 10px;
    font-family: cursive;
}
table{
    width: 670px;
    background-color: white;
}