body{
    background-color: #87CEFA; 
}
.tabla{
    width:90%;
    border: 0;
}
tr > h1{
    text-align: left;
}
tr > img{
    text-align: right;
}
.szoveg{
    column-span: 2;
    width: 100%;
}
div{
    align-content: center;
}
div>img{
    align-content: center;

}
.p{
    text-align: right;
}